---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Welcome to <span class='text-gradient'>NITO</span></h1>
    <p class='instructions'>
      NITO はトランポリングループのためのツールです。
    </p>

    <Card
      href='https://app.nito.club'
      title='アプリを使ってみる'
      body='スケジュールの確認や参加者同士でコミュニケーションする'
    />

    <ul role="list" class="link-card-grid">
      <Card
        href="/on-the-day"
        title="当日の流れ"
        body="参加当日の流れを確認する"
      />
      <Card
        href="/garally"
        title="ギャラリー"
        body="今までのトランポリンの様子を確認する"
      />
    </ul>
  </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        margin: 1rem 0;
        padding: 0;
    }
</style>
